.NavMenu {
    display: flex;
    list-style-type: none;
    color:white;
    
  }
  
  .NavMenu li {
    text-align: center;
    cursor: pointer;
    padding: 0px 15px 0px 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
      font-size: 20px;
    }
  }
  
  