// ButtonContainer.scss

.ButtonContainer {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;

  .Cart,
  .Favorite {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 1;
    padding: 0;
    margin-right: 10px;

    & svg {
      height: 50%;
      width: 50%; 
    }

    & .favoriteCount {
      position: absolute;
      top: -2px;
      right: -2px;
      background-color: gold;
      color: white;
      font-size: 10px;
      border-radius: 50%;
      padding: 2px 5px;
      height: 12px;
      width: 5px;
    }
    & .cartCount{
      position: absolute;
      top: -2px;
      right: -2px;
      background-color: black;
      color: white;
      font-size: 10px;
      border-radius: 50%;
      padding: 2px 5px;
      height: 12px;
      width: 5px;
    }
  }
}
